# ==========================
# 🧩 Node / Frontend / VSCode
# ==========================
node_modules/
dist/
.vscode/

# ==========================
# ☕ Java / Eclipse / Spring
# ==========================
*.class
*.jar
*.war
*.ear
/target/
/bin/
.idea/
*.iml

# ==========================
# 🪶 OS & Misc
# ==========================
.DS_Store

# ==========================
# 📦 Archives / Packages
# ==========================
*.zip
*.tar.gz
*.rar
*.nar

# ==========================
# 🧨 Logs / Crash Reports
# ==========================
*.log
hs_err_pid*
replay_pid*
